/*The body block below defines the general styling for the entire page*/
/*These styles can be overwritten by the preceding style blocks*/
body
{
  background-color:  #588496;
  font-family: 'Yanone Kaffeesatz', monospace;
  font-size: 20px;
  height: 100%;
	margin: 0;
	padding: 0;
}

/*------Beginning of styles for sidebar----------*/
aside /*This block is the general styling of the aside*/
{
  font-family: 'Yanone Kaffeesatz', monospace; 
  font-size: 20px;
  background-color:  #588496;  
  text-align: center;
  width: 30%;
  height: 100%;
  float: left;    /*This makes the sidebar stay on the left of the screen*/
}

aside h1  /*This block is the styling for the h1 tags in the aside*/
{
  font-size: 50px;
  font-weight: bolder;
  color: #333d4b;   
  text-align: center;
}

aside p /*This block is styling for the regular text in the sidebar*/
{
  color: #394555; 
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', monospace; 
  text-align: center;
}

aside ul li a /*This block is styling for the list items in the sidebar (nav options)*/
{
  color: white; 
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}

aside ul  /*This block is the styling for the un-numbered list in the sidebar*/
{
  color: white;
  text-align: center;
  list-style-type: none;
  padding-left: 10%;
  padding-right: 10%;
}

.socials img /*This block is the styling socials images found in the sidebar*/
{
    width: 20px;
}

.pic /*This block is the styling profile image in the sidebar*/
{
    width: 200px;
    height: 200px;
    padding: 5%;
    border-radius: 100%; /*This makes the image circular*/
}
/*------End of styles for sidebar----------*/

/*------Start of styles for main section----------*/

main /*This block is the general styling for the main section of the site*/
{
  width: 70%;
  background-color: #ffffff;
  float: right; /*This makes the main section stay on the right*/
  
}

p, ul, strong, em /*This block is the general styling for the main section of the site*/
{
  color: #5D968F; 
  margin-left: 1%;
}

h1 /*This block is the styling for all h1 in main section*/
{
  font-size: 50px;
  font-family: 'Dancing Script';
  color:#333d4b;
  margin-left: 1%;
}

h2 /*This block is the styling for all h2 in main section*/
{
  font-size: 30px;
  color:#394555;
  margin-left: 1%;
}

/*This block is the styling for skills section*/
/*the '#' is used to reference html's by their id*/
#skills ul 
{
  color: #5D968F;
}

/*------End of styles for main section----------*/

